body{
  background-color: #000000;
}

.app-container {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
  padding: 0 20px; 
}

.app-title {
  font-size: 2.5rem; 
  left: 20px;
  font-weight: bold;
  margin: 20px 0;
  margin-left: 16px; 
}

.app-description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
  max-width: 800px;
  margin: 0 auto 40px auto; 
  padding: 20px;
  background-color: rgba(240, 240, 240, 0.9); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: justify;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
}

.navbar {
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 15px;
  position: sticky;
  top: 0; 
  z-index: 1000;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 0; 
}

.menu-icon {
  display: none; 
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #00a4ea;
}

.content-container {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .app-title {
    font-size: 2rem; 
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px; 
  }

  .menu-icon {
    display: block; 
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%; 
  }

  .nav-links.active {
    display: flex;
  }

  .nav-link {
    margin: 10px 0;
  }
}


.social-media-links {
  text-align: center;
  margin-top: 40px;
}

.social-media-links h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.social-link {
  display: inline-block;
  margin: 0 15px;
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.social-link:hover {
  color: #0056b3;
}
