
.news-container {
    padding: 16px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); 
    gap: 16px; 
}

.news-card {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(9, 64, 216, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.news-card:hover {
    transform: scale(1.05);
}

.news-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover; 
}

.news-card-content {
    padding: 16px;
}

.news-card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.news-card-description {
    color: #555;
    margin: 8px 0;
}
.custom-btn {
    width: 80px;
    text-decoration: none;
    height: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
  }
  
  .btn-2 {
    background: #004dff;
    background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
    border: none;
  }
  
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  
  .btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
